body{
    font-size:25px;
    background-color:blue;
}

.header
{
border-bottom: 3px solid #888; 
text-align:center ;   
padding: lem 0 ;
margin-bottom:2em;
background:#e8e8e8 ;
.bxslider {
$(document).ready(function(){
$('.bxslider').bxSlider({
  auto: true
});
});
}
}

ul a{
    border: 1px solid #000;
    border-radius: 2px ;     
    width:120px;
    text-align:center;
    text-decoration: none;
    background-color: #ff7f50;
}

nav ul{
    overflow:hidden;
    margin:0 0 10px 0;
    padding:0;
    line-height:1.0;
    background:repeat-x bottom;
}